@{
    ViewBag.Title = "Home Page";
}
<div id="firstDiv">
    <div class="col-md-12 hidden-xs">
        <p><span>V<span class="iLogo">i</span></span>V<span class="i">i</span>nnovera</p>
    </div>
    <div>
        <p>How's the weather in...</p>
        <div id="searchInput">
            <span>Location: </span>
            <input name="search" type="text">
            <button type="submit"><i>+</i></button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div id="weather">
        <div class="col-lg-4 col-md-12">
            <div>
                <i class="fa fa-sun-o col-md-4 col-xs-3"></i>
                <button>
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
                <div class="col-md-8 col-xs-9">
                    <p>31<span>&deg;C</span></p>
                    <p class="hidden-xs">Lima, Peru</p>
                </div>
                <p class="hidden-lg hidden-md hidden-sm">Lima, Peru</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div>
                <i class="fas fa-cloud-rain col-md-4 col-xs-3"></i>
                <button>
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
                <div class="col-md-8 col-xs-9">
                    <p>6<span>&deg;C</span></p>
                    <p class="hidden-xs">Stockholm, Sweden</p>
                </div>
                <p class="hidden-lg hidden-md hidden-sm">Stockholm, Sweden</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div>
                <i class="fas fa-cloud-sun col-md-4 col-xs-3"></i>
                <button>
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
                <div class="col-md-8 col-xs-9">
                    <p>16<span>&deg;C</span></p>
                    <p class="hidden-xs">Turin, Italy</p>
                </div>
                <p class="hidden-lg hidden-md hidden-sm">Turin, Italy</p>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 hidden-lg hidden-md hidden-sm" id="firstDiv">
    <div>
        <p><span>V<span class="iLogo">i</span></span>V<span class="i">i</span>nnovera</p>
    </div>
</div>